export default {
  "epiDomain": "${epi_domain}",
  "epiProtocolVersion": 1,
  "appBuildVersion":  "${app_build_version}",
  "timePerCall": 10000,
  "totalWaitTime": 60000,
  "gto_TimePerCall": 3000,
  "gto_TotalWaitTime": 15000,
  "enableEpiDomain": true,
  "bdnsUrl": "${bdns_url}"
}
