@media print {
    @page
    {
        size: portrait;

        page-break-before: always !important;
        margin-top: .3in;
        margin-bottom: .3in; 
        
        @bottom-right {
            content: counter(page) " / " counter(pages);
            margin-bottom: .25in !important;
        }
    }

    html, body {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    body 
    {     
      margin: 0 !important;
      height: unset;
      color: black !important;
      font-size: 12pt;
    }

    /*  body::after {
        counter-reset: page;
        content: counter(page) " / " counter(pages);
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 0.25in;

    } */
    * {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
    div, p, span {
        color: black !important;
    }

    h1,h2 {
        font-size: 14pt;
    }

    h3,h4 {
        font-size: 13pt;
    }

    h3 + p {
        margin-top: 0px;
    }

    table {
        display: table !important;
        page-break-inside: auto !important;
        border: 1.5px solid black !important;
        width: 100%;
        border-collapse: collapse !important;  
        font-size: 11pt;
    }

    caption {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
    }

    thead { 
        display: table-header-group; 
        width: 100%;
    }

    tbody {
        display: table-row-group;
        width: 100%;
    }
    tfooter {
        display: table-footer-group;
        width: 100%;
    }
    th {
        font-weight: bold;
        border: 1px solid black;
        padding: 4px 8px;
        font-size: 11pt;
    }
     colgroup col {
        width: auto; 
    } 

    td {
        border: 1px solid black;
        padding: 4px 8px;
        font-size: 11pt;
    }

    tr {
        page-break-inside: avoid;
    }

    a {
        word-break: break-all;
        color: inherit !important;
        text-decoration: none !important;
      }

    img {
        max-width: 80% !important;
        max-height: 80% !important;
        display: block;
        margin: 0 auto;
    }

    
    .container::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    
    .leaflet-accordion-item {
        border: none !important;
        padding: 0px !important;
        box-sizing: border-box !important;
    }

    .leaflet-accordion-item-content {
        display: block;
        border: none !important;
    }

    .leaflet-accordion-item:before {
        display: none !important;
    }

    button {
        display: none !important;
    }
    /* */
    .page-container:not(.print) {
        display: none !important;
    }
    .page-header:not(.print) {
        display: none !important;
    }

    .modal-container:not(.print) {
        display: none !important;
    }

    #print-content {
         unset: all;
        display: block !important;
    }

    #recalled-bar {
        display: none;
    }

    video { display: none !important; }

    figcaption {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 10pt;
    }
}