@media print {

    @page
    {
        size: portrait;
        /* Changing the margin to show the page numbers works mostly perfect,
        but on chrome it causes truncation for some reason...*/
        margin: 0;  /* this affects the margin in the printer settings */
    }

    body
    {
        margin: 0px;  /* the margin on the content before printing */
        height: unset
    }
    * {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    .container::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    .leaflet-accordion-item-content {
        height: fit-content;
        display: block;
        position: relative;
        font-style: normal;
        font-weight: 400;
        overflow-x: auto;
    }

    button {
        display: none !important;
    }
    .page-container:not(.print) {
        display: none !important;
    }
    .page-header:not(.print) {
        display: none !important;
    }

    .modal-container:not(.print) {
        display: none !important;
    }

    /*table {*/
    /*    max-width: 100%;*/
    /*    display: block;*/
    /*    margin-left: auto;*/
    /*    !* text-align: center; *!*/
    /*    margin-right: auto;*/
    /*}*/

    /*tbody {*/
    /*    display: block;*/
    /*}*/

    /*tr {*/
    /*    display: block;*/
    /*}*/

    /*td {*/
    /*    word-break: break-word;*/
    /*}*/

    img {
        max-width: 80% !important;
        max-height: 80% !important;
    }

    /* table {
        width: 100%;
        border-collapse: collapse !important;
        display: table !important;
    }

    table, th, td {
        border: 1px solid black;
    }
    colgroup,
    theadm
    tbody,
    caption { 
        width: 100%; 
    } 

    th, td {
        padding: 10px;
        text-align: left;
    } */

    #recalled-bar {
        display: none;
    }
}
